<%= form_with model: @folder do |f| %>
  <div class="col" >
        <%= f.label :name,class:"form-control"  %>
        <%= f.text_field :name %>
  </div>
 <br><br><br><br>
  <div class="col" >
    <%= f.label :description,class:"form-control"  %>
    <%= f.text_area :description%>
  </div>
   <br><br><br><br>
  <div class="col">
    <%= f.label :tag,class:"form-control" %>
    <%= f.text_area :tag%>
  </div>
 <br><br><br><br>
  <div class="col">
    <%= f.label :photos,class:"form-control" %>
    <%= f.file_field :photos, multiple: true  %>
  </div>
 <br><br>
  <%= f.submit %>
<% end %> 
 <br><br>
